<div class="card" style="width: 30rem;">
    <img class="card-img-top" src="{{feed.image}}" alt="{{feed.title}}">
    <div class="card-block">
        <h4 class="card-title">{{feed.title}}</h4>
        <p class="card-text">{{feed.tags}}</p>

    </div>
    <div class="card-block">
        <a href="https://www.flickr.com/photos/{{feed.author_id}}" class="card-link">Post Author link</a>
        <a href="{{feed.link}" class="card-link">Link to Flickr</a>
    </div>
    <div class="card-block">
        <a class="btn btn-outline-primary" [routerLink]="['/feeds']">Back to Feeds</a>
    </div>
</div>
